<!DOCTYPE html>
<html>
<head>
<title>Rajat Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey yo">
    {% block content%}

    {% endblock %}

    <footer class="w3-container w3-teal w3-center w3-margin-top" >
        <p>Find me on social media.</p>
        <a href="https://www.facebook.com/share/jLR5rjg8rZQYS8cG/?mibextid=qi2Omg" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <!-- <a href=""><i class="fa fa-twitter w3-hover-opacity"></i></a> -->
        <a href="https://www.linkedin.com/in/rajat-kumar-16b15020a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/its_rajat_thakur_official?igsh=N2Vsb2swcmU1dWJl" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
      </footer>
</body>

</html>